@import './base.css';

/* Side bar */
.loomsky-sidebar {
  box-shadow: 7px 7px 10px #00000008 !important;
  border: unset !important;
}
/* Button */
.v-btn.loomsky-button-primary {
  border-radius: 8px;
  text-transform: capitalize;
  font-size: var(--font-size-sm)
}

/* Text */
.loomsky-h1{
  font-size: var(--font-size-2xl);
  font-weight: 600;
  color: var(--loomsky-text-title)
}

.loomsky-text-body {
  color: var(--loomsky-text-body);
}
.loomsky-h2,
.v-card-title.loomsky-h2 {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--loomsky-text-title)
}

/* Background */
.loomsky-background {
  background: var(--loomsky-white);
  box-shadow: 0 1px 4px #8592ad33;
  border-radius: 12px;
  padding: 30px !important;
}